html {
  overflow-y: scroll;
}

.container {
  padding-top: 20px;
}

.query-block {
  background-color: #fff;
  border: 1px dashed #ccc;
  padding: 20px;
}

.stats {
  padding: 15px 0;
  color: #acacac;
}
